.header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin:0rem;
}

.header div {
  display: flex;
  flex-flow: row;
  
}

.header div:nth-of-type(1){
    width: 70%;
}

.header div button {
  margin: 0;
  padding: 0.2rem;
  font-size: 0.5rem;
  border: 0;
}
